
.welcome{
    font-size: x-large;
    justify-content: center;
    font-weight: bold;
    padding: 15px;
}
.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
    margin-top: 100px;
    border-color: #800000;
    border-radius: 5%;
    border-style: solid;
    border-left-width: 100px;
    
  
 }
 
.form-group{
    margin-bottom: 15px;
    max-width: 200px;
    font-size: 20px;
    
}

.text-center{
    margin-bottom: 20px;
}

.login-button{
 color: #fff;
 background-color: #800000;
width: 175px;
}

.login-button:hover{
    background-color: black;
    color: white;
}