.register-button1{
    color: #fff;
    background-color: rgb(172, 10, 10);
   width: 175px;
   }

.registration-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
    margin-top: 40px;
    border-color: #800000;
    border-radius: 5%;
    border-style: solid;
    border-left-width: 100px;

    
    
}

.registration{
    font-size: x-large;
    justify-content: center;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 15px;
}

.form-group{
    margin-bottom: 15px;
    max-width: 200px;
    font-size: 20px;
}

.text-center{
    margin-bottom: 20px;
}

.register-button{
    color: #fff;
    background-color: #fff;
   width: 175px;
   }
   
   .register-button:hover{
       background-color: black;
       color: white;
   }