.form-group-left{
    margin-right: 300px;
    max-width: 400px;
    width: 100%;
}

.destination-tag{
    margin-left: 400px;
}

.button{
    margin-top: 10px;
}

.distance{
    margin: 10px;
}

.form-group-right{
    margin-left: 150px;
    max-width: 400px;
    width: 100%;
}