.form-group-left{
    margin-right: 300px;
    max-width: 400px;
    width: 100%;
    margin-left: 10px;
}

.destination-tag{
    margin-left: 400px;
}

.button{
    margin-top: 10px;
}

.distance{
    margin: 10px;
}

.form-group-right{
    margin-left: 150px;
    max-width: 400px;
    width: 100%;
}

.button{
    margin-top: 43px;
   }
   
   .button1:hover{
       background-color: grey;
       color: white;
       border-color: grey;
   }

.label-titles{
    margin-left: 7px;
}