.add-button{
    background-color: rgb(102, 101, 101);
    color: white;
    border-color:rgb(102, 101, 101);
    width: 100%;
    transition: all 0.5s ease-out;
    height: 40px;
}

.add-button:hover{
    color: #fff;
    background-color: #800000;
   
   border-color: #800000;
   
   }

   .body-position{
       padding: 20px;
       width: 95%;
       margin-left:30px;
   }
   
   .details-button{
    color: #fff;
    background-color: #800000;
   width: 195px;
   margin-left: 10px;
   height: 35px;
   margin-top: 6px;
   }

   .details-button:hover{
    background-color: rgb(114, 113, 113);
    color: white;
}

.button.details-button.btn.btn-primary{
    background-color: #800000;
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: #800000;
    /* background-color: cutom-color; */
    border-color: none;
    
}

.buttonnn{
    color: #fff;
    background-color: #800000;
   width: 195px;
   margin-left: 30px;
   border-color: #800000;
   }
   
   .buttonnn:hover{
       background-color: grey;
       color: white;
       border-color: grey;
   }
