.NavbarItems{
    background: linear-gradient(90deg,  rgb(90, 90, 90) 0%, rgb(145, 145, 145) 100% );
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}



.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-logo:hover {
    color: #fff;
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.fa-globe-europe{
    margin-left: 0.75rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw; 
    justify-content: center;
    margin-right: 5rem;
    margin-top: 20px;
}
 
.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #800000;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

 .fa-bars{
    color: white;
}

.fa-times{
    color: white;
}

.nav-links-mobile{
    display: none;
} 

.menu-icon{
    display: none;
}

@media screen and (max-width: 1080px){
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: flex;
        position: absolute;
         top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-menu.active{
        background: #800000;
        left:0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        }

        .nav-links {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
        }

        .nav-links:hover{
            background-color: #7577fa;
            border-radius: 0;
        }

        .navbar-logo{
            position: absolute;
            top:0;
            left:0;
           
        }

        .menu-icon{
            display: block;
        }
}

/* .NavbarItems{
        height: 30px;
    background: linear-gradient(90deg, rgb(74 1 1) 0%, rgb(154 5 5) 100% );
    background: linear-gradient(90deg,  rgb(90, 90, 90) 0%, rgb(145, 145, 145) 100% );
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
} */


.UserInfoNavbar{
    text-align : right;
    background: linear-gradient(90deg, rgb(74 1 1) 0%, rgb(154 5 5) 100% );
}

.userInfo{ 
    color: #fff;
    justify-self: end;
    text-align: end;
   text-decoration: none;
    font-size: x-small;
    margin: 10px;
}